.App {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: #fff;
}

header {
  height: 50px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 20px;
  width: 74%;
  font-size: 15px;
  font-weight: bold;
  border: 0 none;
  border-bottom: 1px solid;
  margin-left: 10px;
  background: none;
  color: #fff;
}
button {
  background: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  color: #fff;
}

button:hover {
  transition: 0.3s;
  color: #666;
}

.infos {
  width: 100%;
  height: 94vh;
  display: flex;
  justify-content: center;
}

.infosApi {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  gap: 30px;
  margin: 20px;
  background: rgb(86, 0, 173);
  border-radius: 40px;
}

img {
  height: 100px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.default {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  gap: 10px;
}

@media screen and (max-width: 623px) {
  .infosApi,
  header {
    width: 100%;
  }

  p {
    font-size: 13px;
  }
}
